html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(145deg, #dbe8ff, #f3f6ff);
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 380px;
  background: rgba(255, 255, 255, 0.28);
 
 
  border-radius: 26px;
  padding: 28px;
  box-shadow: 0 8px 28px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  gap: 22px;
  border: 1px solid rgba(255,255,255,0.4);
}

.header {
  display: flex;
  width: 100%;
  gap: 12px;
}

input[type="text"] {
  flex: 1;
  padding: 14px;
  border-radius: 18px;
  border: 1px solid rgba(0,0,0,0.05);
  background: rgba(255,255,255,0.85);
  font-size: 17px;
  outline: none;
  color: #333;
  transition: 0.25s ease-in-out;
}

input[type="text"]:focus {
  background: white;
  box-shadow: 0 0 0 3px #d0e3ff;
}

.search-icon {
  width: 52px;
  border-radius: 18px;
  background: #007aff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 26px;
  transition: 0.2s ease;
  padding:10px;
  margin:10px;
}

.search-icon:hover {
  background: #0062cc;
  transform: scale(1.05);
}

/* Weather Result Box */
.result-item {
  width:  75%;
  background: rgba(255,255,255,0.35);
  
  border-radius: 22px;
  padding: 22px;
  color: #1c1c1e;
  border: 1px solid rgba(244, 212, 212, 0.4);
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

.result-item h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #111;
}

.result-item p {
  margin: 5px 0;
  font-size: 17px;
  font-weight: 400;
  color: #333;
}

.weather-icon {
  margin-top: 16px;
}
